<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dial2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif; }

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>
<body>

<div class="sidebar">
  <a href="https://dial2.online/home.html"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="https://dial2.online/about.html"><i class="fa fa-fw fa-info"></i> About</a>
  <a href="https://dial2.online/privacy.html"><i class="fa fa-fw fa-shield-plus"></i>Privacy Policy</a>
  <a href="https://dial2.online/contact.html"><i class="fa fa-fw fa-envelope"></i> Contact</a>
<a class="social" href="https://facebook.com">
<i aria-hidden="true" class="fa fa-facebook" data-toggle="tooltip" title="Facebook"> facebook</i></a>
</div>
<div class="main">
<div class="container-fluid p-5 bg-primary text-white text-center">
  <h1>Privacy Policy</h1>
  <p>Personal and Sensitive User Data</p>
 Personal and sensitive user data includes, but isn't limited to phonebook, contacts, device location, SMS and call-related on the device, microphone, camera, and other sensitive device or usage data. then Dial2 must:


</div>
  
<div class="container mt-5">
  <div class="row">
    <div class="col-md">
      <h3></h3>
      <p>Limit the access, collection, use and sharing of personal and sensitive user data acquired through the app to app and service functionality and policy-conforming purposes reasonably expected by the user:
</p>
      <p>Use a runtime permissions request whenever available, prior to accessing data gated by Android permissions
</p>
    </div>
    <div class="col-md">
      <h3></h3>
      <p>Apps that extend usage of personal and sensitive user data for serving advertising must comply with Google Play’s ads policy
</p>
      <p>Not sell personal and sensitive user data</p>
    </div>
    <div class="col-md">
      <h3></h3>        
      <p>Dial2 may also transfer data as necessary to service providers or for legal reasons such as to comply with a valid governmental request, applicable law, or as part of a merger or acquisition with legally adequate notice to users</p>
      <p>"Sale" means the exchange or transfer of personal and sensitive user data to a third party for monetary consideration
</p>
    </div>

<div class ="col-md">
      <h3></h3>
      <p>Handle all personal and sensitive user data securely, including transmitting it using modern cryptography (for example, over HTTPS)
</p>
      <p>User-initiated transfer of personal and sensitive user data (for example, when the user is using a feature of the app to transfer a file to a third party, or when the user chooses to use a dedicated purpose research study app), is not regarded as sale</p>
    </div>



  </div>
</div>


<footer class="text-center bg-light">
      <!-- Grid container -->
      <div class="container pt-4">
        <!-- Section: simple footer links -->
        
        <!-- Section: Simple footer links -->
      </div>
      
      <div bg-color="#ffffff" class="text-center p-3">
        &copy; 2023 Copyright:
        <a class="text-dark" href="https://dial2.com/">Planetachiles</a>
      </div>
      <!-- Copyright Footer-->
    </footer>
</div>

</body>
</html>

